#homeBG {
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
}

.heroSection {
    margin-top: 2rem;
}

.heroSection_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBar_container_homeScreen {
    position: absolute;
    width: fit-content
}

.searchBarInHeroSection {
    width: fit-content;
    margin: auto;
}

.Heading_herosection {
    padding: 0.5rem 0.5rem;
    width: 100%;
    flex-wrap: wrap;
}

.Heading_herosection h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--white);
    font-family: "Roboto";
    font-weight: 600;
}

/* venue categories section */
/* VenueCategories.css */

.venue-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.venue-item {
    text-align: center;
}

.venue-image {
    width: 120px;
    cursor: pointer;
    height: 120px;
    border-radius: 50%;
    border: 8px solid rgba(241, 241, 241, 1);
    ;
    transition: border-color 0.3s;
}

.venue-image:hover {

    border: 8px solid var(--primary-color);

}

.venue-description {
    margin-top: 10px;
    font-size: 14px;
}

.venueCategor_section {
    margin-top: 2rem;
}

.venueCategory_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.venueCategory_heading h6 {
    color: var(--primary-color);
    font-family: "Roboto";
    font-weight: 600;

}

.venueCategory_heading a {
    text-decoration: none;
    color: var(--text-grey);
    font-family: "Roboto";
    font-size: 14px;
}

.venueCategory_heading a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}