.list_your_venue_heading h3 {
  color: var(--text-black);
  font-family: "Roboto";
  font-weight: 600;
}

.list_your_venue_heading h4 {
  text-align: left;
  color: var(--text-grey);
  margin-bottom: 1rem;
}

.list_your_venue_heading p {
  text-align: left;
  color: var(--text-grey);
  font-weight: 400;
  font-family: "Roboto";
  line-height: 24px;
  margin-bottom: 1.5rem;
}

.list_your_venue_heading button {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 13px;
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
}

.list_your_venue_Section {
  padding: 2.5rem 2rem;
  flex-direction: row;
  background-color: var(--light-pink);
}

.bg_container_listyourvenue img {
  width: 100%;
}


